@charset "UTF-8";

:root {
    --mainColor: #3447C2;
    --dark1: #202B75;
    --light1: #8D9BF7;
    --dark2: #810FFF;
    --hover: #d4e7eeee;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: var(--mainColor);
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: var(--light1);
    color: white;
    min-width: 250px;
    min-height: 540px;
    border-radius: 20px ;

    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

section#login > div#imgDiv {
    display: block;
    background: url("../images/login-img2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 180px;
}

section#login > div#formDiv  {
    display: block;
    text-align: center;
}

section#login > div#formDiv > h1 {
    padding: 16px;
}

section#login > div#formDiv > h1, p {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

section#login > div#formDiv > form {
    padding-top: 20px;
}

section#login > div#formDiv > form > input {
    display: block;
    margin: auto;
    height: 30px;
    border-radius: 20px;
    border: none;
    font-size: 1.1em;
    text-align: center;
}

section#login > div#formDiv > form > input#iButton {
    width: 92%;
}


.inputDiv {
    display: block;
    background-color: var(--dark1);
    margin: 10px;
    height: 40px;
    border-radius: 20px;
}

.inputDiv > span {
    font-size: 2em;
}

.inputDiv > input {
    width: 80%;
    height: 34px;
    padding: 8px;
    transform: translateY(-7px);
    text-align: center;
    border-radius: 20px;
    border-style: none;
}

.inputDiv > input:focus {
    background-color: var(--hover);
    outline: none;
}

section#login > div#formDiv > form > input:hover, .inputDiv > input:hover {
    background-color: var(--hover);
}

